body {
  margin: 0;
  padding: 0;
}

ic-section-container {
  margin: 1rem 8rem;
  width: 70vw;
}

ic-typography {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 2rem 0;
}

.input {
  margin-top: 0.5rem;
}

.button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
