@import "@ukic/react/dist/core/normalize.css";
@import "@ukic/fonts/dist/fonts.css";
@import "@ukic/react/dist/core/core.css";
@import "@ukic/canary-react/dist/core/core.css";

body {
  height: 100%;
  width: 100%;
}

